<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Create a New Todo
        </h1>
        <div class="control">
            <input #newTodo class="input is-large" type="text" placeholder="Create a New Todo">
        </div>
        <div class="field is-grouped is-grouped-right">
            <p class="control" (click)="createNewTodo(newTodo.value)">
                <a class="button is-primary is-medium">
                Submit
              </a>
            </p>
            <p class="control" (click)="goBack()">
                <a class="button is-light is-medium">
                Cancel
              </a>
            </p>
        </div>

    </div>
</div>